<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="row">
            <ul class="timeline col-md-12" >
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">RipenApps Technology</div>
                                <div class="h6 mt-0 title">Associate Software Engineer (2020-11 - Present)</div>
                                <p align="justify">Web App and Mobile Applocation Development Company</p>
                                <p align="justify">Worknig as MEAN stack developer</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                        <li class="non_list">Web Development</li>

                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Node JS</li>
                                                <li class="non_list">Express JS</li>
                                                <li class="non_list">Mongo DB</li>

                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Angular JS</li>
                                                <li class="non_list">AWS</li>
                                                <li class="non_list">Git</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Codules Technology Pvt Ltd</div>
                                <div class="h6 mt-0 title">Application Developer Trainee(2019-07 - 2019-12)</div>
                                <p align="justify">Worked as a Application Developer trainee.</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Java</li>
                                                <li class="non_list">Netbeans</li>
                                                <li class="non_list">Mysql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Eclipse</li>
                                                <li class="non_list">Oracle 11g</li>
                                                <li class="non_list">Git</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>