<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2020</p>
                        <div class="h5">Master Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Master of Computer Application</div>
                                <h4 class="category">Galgotias College Of Engineering & Technology</h4>
                                <ul>
                                    <li>Galgotias College Of Engineering & Technology(Affilated to AKTU, LUcknow) </li>
                                        <li>Completed MCA <b>81.27 %</b>aggregate</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014-2017</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science</div>
                            <h4 class="category">Dr BRA University</h4>
                            <ul>
                                    <li>Completed  <b>B.Sc</b> in <b>Computer Science</b> with <b>59.01%</b> aggregate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2009-2011</p>
                        <div class="h5">Industrial Training Institute</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">ITI(NCVT)</div>
                                <h4 class="category">GOVT ITI HASSAN</h4>
                                <ul>
                                        <li>Completed <b>ITI</b> in <b>Center of Excellence(COE)</b> with <b>80% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2014</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">UP Board</div>
                                <h4 class="category">NRSD Saraswati Vidhya Mandir</h4>
                                <ul>
                                        <li>Completed  12+2  with <b>75.6%</b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2010-2012</p>
                        <div class="h5">High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">UP Board</div>
                                <h4 class="category">Smt Vedwati Inter College</h4>
                                <ul>
                                        <li>Completed  10th  with <b>84%</b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               