<div class="section" id="project">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Project</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">Amfixo Training & Jobs</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Admin Panel and Mobile API</div>
                        <p>
                            Amfixo App is a clone of urbanclap company which help to user to provide services like
                            painting, photography etc and provide jobs for vendors and to become master in any Service,
                            Amfixo provides you a course also. Amfixo help to provide services and opportunities to
                            consumers and vendors in a number of daily required verticals of your life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">PetsAndCo</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Admin Panel and Mobile API</div>
                        <p>
                            PetsAndCo Application is a e-commerce shopping plateform for pets and it provides pets item
                            like pedigree, pet bed etc & service like Dog walker, cat walker etc.
                            You can purchase products and book service also for a particular time-slot.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">byteEDGE</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Mobile API</div>
                        <p>
                            byteEDGE is e-learning social plateform like udemy which provide you course video for a
                            particular course. It has also a feeds and group also where You can communicate and shared a
                            post also.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">QarService</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Admin Panel and Mobile API</div>
                        <div class="h6">Enhancement in admin panel & mobile api and Bug-fixing</div>
                        <p>
                            QarService Application provides Car Service and repairing.It has user app and technician
                            app. Technician App have many number of garage and many technician for repairing Car.
                            You can book service at your door-step.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <div class="h5">iVS-Vehicle Wellness App</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Admin Panel and Mobile API</div>
                        <div class="h6">Enhancement in admin panel & mobile api and Bug-fixing</div>
                        <p>
                            iVS is car washing app. It has a innovative cliams credits to maximise savings and
                            convenience in car washes. You can Purchase claims and tranfer the claim one delaer to
                            another dealer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>